h1 {
    /* text-align: center; */
     /* text-align: end; */
    /* text-align: start; */
    text-align: justify;
    width: 20%;
    }
    img
    {
     text-align: center;
    }
    h1
    {
        /* float:right ; */
        float: left;
    }
    h1
    {
        border: 50px; red;
        b
    }
    